<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
<header id="header">
    <div>3123</div>
</header>
<!--<div id="main">-->
    <!--<img src="vytis.jpg" id="photo">-->
<!--</div>-->
<div id="main">
    <div class="flex">
    <div id="naujiena">Naujiena</div>
    <div id="reklama">Reklama</div>
    </div>
    <div class="flex">
    <div class="article"></div>
    <div class="article2"></div>
    <div class="article3"></div>
    </div>
</div>
<footer id="footer">
    <div>dd</div>
</footer>

</body>
</html>